.wrapper{
    background-color: var(--bgSoft);
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.wrapper h2{
    font-size: 40px;
}

.wrapper form{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    
    
}

.wrapper input, .wrapper button{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgLighter);
    color: var(--text);
    border: none;
    outline: none;
}

.wrapper button{
    background-color: teal;
}